.define-card {
    width: 90%;
    max-width: 1800px;
    background: rgba(21, 21, 21, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
}

.card--padding {
    padding: 40px;
}

.card--white {
    background: #efefef;
}

.card--rel {
    position: relative;
    float: left;
}

.card--flex {
    display: flex !important;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .define-card {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .define-card {
        width: 100%;
    }

    .card--flex {
        flex-direction: column;
    }
}
