filter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0);
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .4s, transform .4s cubic-bezier(0, .53, .47, .97);
    transition-delay: .1s;
    user-select: none;
    backface-visibility: hidden;
}

filter[open] {
    left: 0;
    opacity: .9;
    transform: translateX(0);
    transition: opacity .4s, transform .4s cubic-bezier(.69, .01, .57, .57);
}

@media screen and (max-width: 800px) {
    .show-filter {
        display: none;
        opacity: 0;
    }
}
