filter {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 1s ease-out;
    user-select: none;
    backface-visibility: hidden;
}

.show-filter {
    display: block;
    opacity: .9;
    transition: opacity 1s ease-out;
}

@media screen and (max-width: 800px) {
    .show-filter {
        display: none;
        opacity: 0;
    }
}
