body {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    color: #efefef;
    width: 100vw;
    height: 500px;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: auto;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    user-select: none;
    backface-visibility: hidden;
    z-index: -1;
    display: block;
}

fade-scroll {
    display: block;
    position: relative;
}

distort-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

lazy-component {
    display: block;
}

lazy {
    display: block;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity .4s ease-out, transform .4s ease-out;
}

lazy[load] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform .2s ease-out, opacity .2s ease-out;
}

hr {
    height: 1px;
    border: 0;
    background: white;
}
