body,
html {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    color: #efefef;
    width: 100vw;
    min-width: 375px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: auto;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    user-select: none;
    backface-visibility: hidden;
    z-index: -1;
    display: block;
}

fade-scroll {
    display: block;
    position: relative;
    width: 100vw;
    min-width: 375px;
}

distort-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

lazy-component {
    display: block;
    width: 80vw;
}

div[lazy] {
    display: block;
    opacity: 0;
}

div[to="up"] {
    transform: translate3d(0, 100px, 0);
}

div[to="right"] {
    transform: translate3d(100px, 0, 0);
}

div[to="left"] {
    transform: translate3d(-100px, 0, 0);
}

div[to="bottom"] {
    transform: translate3d(0, -100px, 0);
}

div[load-lazy] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform .4s ease-out, opacity .4s ease-out;
}

hr {
    height: 1px;
    border: 0;
    background: white;
}
