body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: #efefef;
    width: 100vw;
}

.container {
    width: 100vw;
    min-width: 320px;
    height: auto;
}

h1,
p {
    margin: 0;
}
