body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: #efefef;
    width: 100vw;
}

.container {
    width: 100vw;
    min-width: 480px;
    height: auto;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    user-select: none;
    backface-visibility: hidden;
    z-index: -1;
    display: block;
}

/*Coming soon CSS*/

#body__coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coming-soon {
    overflow: visible;
    animation: dance 4s ease-in-out infinite;
}

@keyframes dance {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(360deg);
    }
}

/*Coming soon CSS*/
