.header {
    position: fixed;
    width: 200px;
    height: auto;
    user-select: none;
    backface-visibility: hidden;
    z-index: 999;
}

.header__elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
}

.burger {
    position: fixed;
    display: none;
    left: 10%;
    cursor: pointer;
    width: 50px;
    height: 80px;
    background: white;
    z-index: 999999;
}

.convertBurger {
    transition: background .1s;
    transition-delay: .3s;
    background: red;
}

@media screen and (max-width: 800px) {
    .burger {
        display: block;
    }

    .header {
        background: rgba(0, 0, 0, 0.9);
        /*        transform: translate3d(-50%, -150%, 0);*/
        top: -100%;
        -webkit-backdrop-filter: blur(5px);
        left: 10%;
        width: 80%;
        height: 90%;
        transition: transform .4s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .openHeader {
        transform: translate3d(0, 100%, 0);
        transition: transform .4s ease-out;
        transition-delay: .3s;
    }

    .header__elements {
        text-align: center;
        align-items: center;
    }
}
