.header {
    will-change: transform;
    position: fixed;
    width: 20vw;
    height: auto;
    top: 10vh;
    -webkit-transform: translate3d(0%, 200%, 0);
    transform: translate3d(0%, 200%, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 999;
    display: block;
    -webkit-transition: transform .6s cubic-bezier(.48, .01, .29, .98);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.48, .01, .29, .98);
    transition: -webkit-transform .6s cubic-bezier(.48, .01, .29, .98);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.48, .01, .29, .98);
    transition: transform .6s cubic-bezier(.48, .01, .29, .98);
    transition: transform .6s cubic-bezier(.48, .01, .29, .98), -webkit-transform .6s cubic-bezier(.48, .01, .29, .98);
}

.header__elements {
    float: left;
    clear: both;
    cursor: pointer;
    opacity: .3;
    text-align: left;

}

.headerIn {
    -webkit-transform: translate3d(0%, 0%, 0) !important;
    transform: translate3d(0%, 0%, 0) !important;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.23, .54, .59, .91);
    transition: -webkit-transform .6s cubic-bezier(.23, .54, .59, .91);
    transition: transform .6s cubic-bezier(.23, .54, .59, .91);
    transition: transform .6s cubic-bezier(.23, .54, .59, .91), -webkit-transform .6s cubic-bezier(.23, .54, .59, .91);
}
