.hero {
    will-change: opacity;
    width: 100%;
    min-width: 375px;
    height: 100vh;
    min-height: 800px;
}

.hero__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hero__text-lines {
    justify-content: center;
}

.hero__text-blocks {
    position: absolute;
    bottom: -50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: textBoxes_in .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .4s;
}

.hero__text-block {
    margin: auto;
}

@media screen and (max-width: 800px) {
    .hero__text-blocks {
        flex-direction: column;
    }

    .hero__text-block {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #666;
    }

    .hero__text-block h1 {
        margin-right: 20px;
    }

}

@keyframes distort_in {
    from {
        transform: matrix(1.3, 0, 0, 1, 40, 0);
        opacity: 0;
    }

    to {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }
}

@keyframes distort_out {
    from {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }

    to {
        transform: matrix(.7, 0, 0, 1, -20, 0);
        opacity: 0;
    }
}

@keyframes textBoxes_in {
    to {
        bottom: 40px;
        opacity: 1;
    }
}
