.hero {
    position: relative;
    will-change: background-size, filter;
    width: 100%;
    height: 100vh;
    min-height: 800px;
}

.hero__text {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hero__text-lines {
    display: flex;
    justify-content: center;
}

.text__harry-all {
    margin: 0 2px;
    opacity: 0;
    transform: matrix(1.3, 0, 0, 1, 40, 0);
}

.hero__text-lines div:nth-child(1) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.hero__text-lines div:nth-child(2) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}

.hero__text-lines div:nth-child(3) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.hero__text-lines div:nth-child(4) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.35s;
}

.hero__text-lines div:nth-child(5) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.hero__text-lines div:nth-child(6) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.45s;
}

.hero__text-lines div:nth-child(7) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.hero__text-lines div:nth-child(8) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.55s;
}

.hero__text-lines div:nth-child(9) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.hero__text-lines div:nth-child(10) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.65s;
}

.hero__text-lines div:nth-child(11) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.hero__text-lines div:nth-child(12) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
}

.hero__text-lines div:nth-child(13) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

.hero__text-lines div:nth-child(14) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.85s;
}

.hero__text-lines div:nth-child(15) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
}

.hero__text-lines div:nth-child(16) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.95s;
}

.hero__text-lines div:nth-child(17) {
    animation: distort .4s cubic-bezier(0, .41, .21, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

@keyframes distort {
    to {
        transform: matrix(1, 0, 0, 1, 0, 0);
        color: white;
        opacity: 1;
    }
}
