.hero {
    position: relative;
    will-change: background-size, filter;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background: maroon;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    user-select: none;
    backface-visibility: hidden;
    z-index: -1;
    display: block;
    vertical-align: bottom;
}

.hero__text {
    position: absolute;
    right: 0;
    height: 2.5em;
    overflow: hidden;
    background: black;
}

.hero__text h1 {
    will-change: transform;
    transform: translate3d(0, 150%, 0);
    animation: textIn 1.2s cubic-bezier(.09, .39, .31, 1);
    animation-fill-mode: forwards;
    user-select: none;
    cursor: default;
}

.hero__text-1 {
    top: 5%;
    margin-right: 30%;
}

.hero__text-1 h1 {
    animation-delay: .1s;
}

.hero__text-2 {
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
}

.hero__text-2 h1 {
    animation-delay: .4s;
}

.hero__text-3 {
    bottom: 5%;
    margin-right: 5%;
}

.hero__text-3 h1 {
    animation-delay: .7s;
}

@media screen and (max-width: 800px) {
    .hero__text {}

    .hero__text-1 {}

    .hero__text-2 {}

    .hero__text-3 {}
}
