.intro__image {
    width: 400px;
    height: 500px;
    margin: 0;
    z-index: 999999;
    background: #a73030;
}

.intro__image img {
    height: 100%;
    transition: margin-top .1s;
}

.intro__info {
    height: auto;
    width: 60%;
    margin: auto;
}

.intro__name {
    text-align: center;
}

.intro__bio {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background: #222;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: inset 0 0 20px 0 #151515;
    padding: 20px 30px;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {

    /*
    .intro__card {
        width: 100%;
    }
*/

    .intro__image {
        width: 300px;
        height: 400px;
        margin: 0;
        z-index: 999999;
        background: #a73030;
    }

    .intro__image img {
        height: 100%;
        transition: margin-top .1s;
    }

    /*
    .intro__info {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .intro__bio {
        height: 150px;
    }

    .intro__name {
        text-align: center;
        margin-left: 0;
    }
*/


}

@media screen and (max-width: 800px) {
    .intro-card {
        padding-bottom: 40px;
    }

    .intro__image {
        width: 80%;
        max-width: 250px;
        margin: 0 auto;
        height: 300px;
        border-radius: 0 0 5px 5px;
    }

    .intro__image img {
        height: 100%;
        width: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .intro__name {
        margin-top: 50px;
    }

    .intro__bio {
        height: auto;
    }
}
