.intro {
    position: relative;
    float: left;
    width: 100vw;
    height: auto;
}

.intro__image {
    position: relative;
    float: left;
    display: block;
    width: 400px;
    height: 500px;
}

.intro__image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.intro__info {
    position: relative;
    float: left;
    width: 60%;
    height: 300px;
    margin-left: 30px;
}

.intro__name {
    margin-top: 10px;
    text-align: left;
    margin-left: 30px;
}

.intro__bio {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    background: #222;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: inset 0 0 20px 0 #151515;
    padding: 20px 30px;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    .intro__card {
        width: 100%;
    }

    .intro__image {
        float: none;
        width: 60%;
        height: 400px;
        margin: 0 auto;
    }

    .intro__image img {
        transform: translateY(-40%);
    }

    .intro__info {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .intro__bio {
        height: 150px;
    }

    .intro__name {
        text-align: center;
        margin-left: 0;
    }

}

@media screen and (max-width: 800px) {
    .intro__image {
        width: 100%;
        height: 300px;
    }
}
