.intro {
    position: relative;
    float: left;
    width: 100vw;
    height: auto;
}

.intro__card {
    width: 80%;
    position: relative;
    float: left;
    max-width: 1400px;
    background: #151515;
    padding: 40px;
}

.intro__image {
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.intro__image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.intro__info {
    position: relative;
    float: left;
    width: 60%;
    margin-left: 30px;
}

.intro__bio {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    background: #222;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 solid red;
}

@media screen and (max-width: 1200px) {
    .intro__card {
        width: 100%;
    }

    .intro__image {
        float: none;
        width: 60%;
        height: 400px;
        margin: 0 auto;
    }

    .intro__image img {
        transform: translateY(-40%);
    }

    .intro__info {
        text-align: center;
        width: 100%;
        margin: 20px 0 0 0;
    }

    .intro__bio {
        height: 150px;
    }

}

@media screen and (max-width: 800px) {
    .intro__image {
        width: 100%;
        height: 300px;
    }
}
