.define-text {
    line-height: 1.5em;
    text-align: left;
    color: white;
}

.text__small {
    font-size: 1.2em;
}

.text__regular {
    font-size: 2.2em;
}

.text__medium {
    font-size: 2.5em;
}

.text__large {
    font-size: 5em;
}

.text__xlarge {
    font-size: 10em;
}

.text__mada {
    font-family: 'mada', serif;
}

.text__mada-bold {
    font-family: 'mada', serif;
    font-weight: bold;
}

.text__cinzel {
    font-family: 'cinzel', serif;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 800px) {
    .text__small {
        font-size: 1.7em;
    }

    .text__regular {
        font-size: 1.7em;
    }

    .text__medium {
        font-size: 2.2em
    }

    .text__large {
        font-size: 3.5em;
    }

    .text__xlarge {
        font-size: 8em;
    }
}

/*Colors*/
.text--fade {
    color: #898989 !important;
}

.text--fade-light {
    color: #bababa !important;
}

/*Modifications*/
