.text__medium {
    font-size: 2em;
}

.text__medium__t-margin--header {
    margin-top: .5em;
}

.text__jumbo {
    font-size: 10em;
}

.text__mada {
    font-family: 'MadaBold', sans-serif;
}

@media screen and (max-width: 1200px) {
    .text__jumbo {
        font-size: 8em;
    }
}

@media screen and (max-width: 1000px) {
    .text__jumbo {
        font-size: 6em;
    }
}

@media screen and (max-width: 800px) {
    .text__jumbo {
        font-size: 4em;
    }
}
