.define-text {
    line-height: 1.5em;
}

.text__small {
    font-size: 1.6em;
}

.text__medium {
    font-size: 2em;
}

.text__large {
    font-size: 4em;
}

.text__xlarge {
    font-size: 6em;
}

.text__mada {
    font-family: 'mada', serif;
}

.text__mada-bold {
    font-family: 'mada', serif;
    font-weight: bold;
}

.text__cinzel {
    font-family: 'cinzel', serif;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 800px) {
    .text__small {
        font-size: 2em;
    }

    .text__medium {
        font-size: 2em;
    }

    .text__large {
        font-size: 3em;
    }

    .text__xlarge {
        font-size: 5em;
    }
}
