.wrapper {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper--flex {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.define-card {
    width: 80%;
    position: relative;
    float: left;
    max-width: 1400px;
    background: #151515;
    padding: 40px;
    border-radius: 5px;
}

.card--white {
    background: #efefef;
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 80px 0;
    }

    .wrapper--flex {
        padding: 80px 0;
    }
}
